.container {
    background: url('../../assets/images/Image.svg') no-repeat, linear-gradient(#C86DD7,#7E49C3, #5912AC);
    background-size: cover;

    top: 0;
    height: 100vh;
}


.section .containerGrid {
    height: calc(100vh - 64px);
    padding: 0 2%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section .description h2 {
    font-size: 32px;
    font-weight: 500;
    color: white;
    margin-bottom: 24px;
}

.section .description p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-bottom: 32px;
}

.section .description .descriptionTwo {
    display: flex;
    align-items: center;
}

.section .description .descriptionTwo span {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-left: 18px;
}

@media screen and(max-width: 361px){
    .grid, .buttons .button:nth-child(2), .image img {
        visibility: hidden;
        opacity: 0;
    }

    .buttons .button:nth-child(1){
        margin-top: -1rem;
    }
    
    .description {
        text-align: center;
    }

    .descriptionTwo {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .containerGrid {
        display: block;
    }

    .containerDiv img {
        margin: 0 auto;
    }

    .containerDiv {
        display:grid;
        grid-template-rows: auto;
        text-align: center;
        row-gap: 1rem;
    }
}