.container {
    background: url('../../assets/images/Image.svg') no-repeat, linear-gradient(#C86DD7,#7E49C3, #5912AC);
    background-size: cover;

    top: 0;
    height: 100vh;
}


.section .containerGrid {
    height: calc(100vh - 64px);
    padding: 0 2%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section .description h2 {

    width: 490px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    color: #FFFFFF;

}

.section .description p {
    width: 584px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.section .description .descriptionTwo {
    display: flex;
    align-items: center;
    
}

.section .description .descriptionTwo span {

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-left: 18px;
}

@media(max-width: 360px){
    .container {
        height: 700px;
    }
    
    .image {
       display: none;
   }


   .section .containerGrid {
        height: calc(700px - 100px);
       justify-content: center;
   }

   .section .description h2 {
        width: 272px;
        margin: 0 44px;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 32px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
    }

    .section .description p {
        margin: 16px 16px 78px 16px;
        width: 328px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        text-align: center;
    }

    .section .description .descriptionTwo {
        justify-content: center;
    }



    .section .description .descriptionTwo span {
        width: 246px;
    }
}
